body {
    background: rgb(248, 249, 255);
}

.main-todo-box {
    width: fit-content;
}

.main-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.remove-button {
    color: rgb(255, 197, 195);
}

.register-button {
    color: rgb(195, 211, 255);
}

.login-button {
    color: rgb(195, 255, 195);
}

.save-button {
    color: rgb(219, 219, 219);
}

.user_tools {
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
}

.data_tools {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
}

@media (max-width: 683px) {
    .container_phones {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .user_tools {
        display: flex;
        flex-direction: row;
        position: inherit;
    }
    .data_tools {
        display: flex;
        flex-direction: row;
        position: inherit;
    }
}